
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background: black;
}

a, a:hover, a:visited {
    color:white;
}
  
  .container {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  .box {
    background-color: #f1f2f2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 5px;
    padding: 20px;
  }
  
  .captcha {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 2em;
    padding: 3px;
    border-radius: 5px;
    text-decoration: line-through;
    color: #0080FF;
    background-color: #0c0c0c;
  }
  
  .restart a {
    text-decoration: none;
  }
  
  .errmsg {
    color: red;
    padding: 5px;
    transition: 0.5s ease;
  }

  input[type="button" i] {
    background:    #0080ff;
    border-radius: 11px;
    padding:       10px 14px;
    color:         #ffffff;
    display:       inline-block;
    font:          normal bold 16px/1 "Open Sans", sans-serif;
    text-align:    center;
  }

  input[type="text" i] {
    background:    white;
    border-radius: 11px;
    padding:       10px 14px;
    color:         black;
    display:       inline-block;
    font:          normal bold 16px/1 "Open Sans", sans-serif;
    text-align:    center;
  }

  input[type="date" i] {
    background:    white;
    border-radius: 11px;
    padding:       10px 14px;
    color:         black;
    display:       inline-block;
    font:          normal bold 16px/1 "Open Sans", sans-serif;
    text-align:    center;
  }
  
  input {
    width: 100%;
    margin-bottom: 3px;
  }