<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col">
        <a href="https://forms.gle/zuc7mtz8EycFhf1a8"> Make a Report</a>
      </div>
      <div class="footer-col">
        <a href="tel:1-800-273-8255"> Suicide Hotline</a>
      </div>
      <div class="footer-col">
        <a href="tel:1 800 656 4673"> Sexual Abuse Hotline</a>
      </div>
      <div class="footer-col">
        <a href="https://www.crisistextline.org/"> Crisis Textline</a>
      </div>
      <div class="footer-col">
        <a href="/resources"> Sophie Resources</a>
      </div>
    </div>
    <div class="footer-col-wrapper">
    <p>The Sophie Project is a group dedicated to preventing pedophilia online. Learn more <a href="/about"> here</a></p>
  </div>
  </div>

</footer>
