---
---

hr {
  margin-top: #1e1e1e;
  margin-bottom: #1e1e1e;
}

h1, h2, h3, h4, h5, h6 {
  color: #0080FF;
}

$background-color: white;

@import "{{ site.theme }}";

a:hover {
  text-decoration: none;
}

.footer-col-wrapper {
  margin: 0 auto;
}
