---
---

hr {
  margin-top: #1e1e1e;
  margin-bottom: #1e1e1e;
}

h1, h2, h3, h4, h5, h6 {
  color: #0080FF;
}

$brand-color:#0080FF;
$background-color: #1e1e1e; /* a dark, off-black for the bg */
$text-color: #ffffff; /* an off-white for the text */
$grey-color-light:#232323; /* for the border-top separators */
$grey-color-dark: #0080FF; /* such as the site title in the header, visited */

@import "{{ site.theme }}";

a:hover {
  text-decoration: none;
}

.footer-col-wrapper {
  margin: 0 auto;
}